<link rel="stylesheet" href="../../public/getById.css">

<h1 class="details-heading">{{movie.name}}</h1>
<div class="details">
    <div class="details-container">
        <div>
            <img src={{movie.imageUrl}} />
        </div>
        <div class="content">
            <p><strong class="special-detail">Descrption:</strong> {{movie.descrption}}</p>
            <p><strong class="special-detail">Year:</strong> {{movie.year}}</p>
        </div>
    </div>
    <div class="trailer">
        <iframe src={{movie.videoShort}} allowfullscreen></iframe>
    </div>
</div>

<section class="comment-section">
    <hr />
    {{#if isAuth}}
    <div class="add-comment">
        <form action="/movie/addComment" method="POST">
            <img src="https://www.pikpng.com/pngl/m/80-805523_default-avatar-svg-png-icon-free-download-264157.png" />
            <input hidden name="id" value={{movie.id}} />
            <textarea name="bodyComment" placeholder="Write your comment"></textarea>
            <input class="add-comment-btn" type="submit" value="Add" />
        </form>
    </div>
    {{/if}}

    <div>Comments</div>
    <div class="all-comments">
        {{#each comments}}
        <div class="comments-container">
            <ul id="comments-list" class="comments-list">
                <li>
                    <div class="comment-main-level">
                        <div class="comment-box">
                            <div class="comment-content">
                                {{content}}
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        {{/each}}
    </div>